.signup__page {
  padding-top: 16px;
  display: flex;
  justify-content: center;

  .signup__container {
    width: min(400px, 100%);
    padding: 24px;
    background: var(--white);

    .signup__headerContainer {
      text-align: center;
    }

    .signup__horizontalRuleWithText--container {
      margin: 20px 0;
    }

    .signup__inputContainer {
      display: flex;
      flex-direction: column;

      .MuiInputBase-root {
        margin-bottom: 20px;
      }

      .signup__agreement-container {
        display: flex;
        margin-bottom: 20px;

        input {
          margin-top: 1px;
          margin-right: 5px;
        }
      }
    }

    .signup__hr {
      margin: 20px 0;
    }

    .signup__login {
      font-size: 0.9rem;
      text-align: center;
    }
  }
}