.signup__page {
  padding-top: 16px;
  display: flex;
  justify-content: center;

  .signup__container {
    width: min(400px, 100%);
    padding: 24px;
    background: var(--white);

    .signup__headerContainer {
      // display: flex;
      // flex-direction: column;
      text-align: center;

      .signup__title {
        margin-bottom: 20px;
      }
    }

    .signup__inputContainer {
      display: flex;
      flex-direction: column;
      margin: 0 auto;

      label {
        font-size: 1.1rem;
        margin-bottom: 5px;
      }
      
      input {
        padding: 5px;
        margin-bottom: 20px;
      }

      button {
        background-color: var(--button-primary);
        border: 1px solid var(--button-secondary);
        border-radius: 5px;
        color: var(--button-secondary);
        padding: 10px 20px;
      }

      .signup__agreement-container {
        display: flex;

        input {
          display: inline-block;
          margin-right: 5px;
        }

        label {
          font-size: 0.8rem;
        }
      }
    }

    .signup__hr {
      margin: 16px 0;
    }

    .signup__login {
      text-align: center;
    }
  }
}