:root {
  // make sure the root font-size always this and not depend on browser
  font-size: 14px;
  background-color: rgb(247, 247, 247);
  color: var(--primary-color);

  @media only screen and (max-width: 600px) {
    font-size:12px;
  }

  // list of colors
  --white: #ffffff;

  --primary-color: hsl(180, 14%, 20%);
  --secondary-color: hsl(180, 8%, 52%);
  --tertiary-color: hsl(180, 14%, 20%);

  --search-primary-color: hsl(180, 29%, 50%);
  --search-background-color: hsl(180, 52%, 96%);
  
  --button-primary: #5d9cec;
  --button-secondary: #ffffff;
  
  --link-color: #4B89DC;
  --border-color: #dedede;

  --error-red: #eb3730;
}

* {
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// make sure `button` and `a` tag to have cursor pointer on hover
button:hover, a:hover {
  cursor: pointer !important;
}

// default classname for button 
.btn {
  font-size: 1.1rem;
  padding: 5px 10px;
  
  &.btn-primary {
    background-color: var(--button-primary);
    border: 1px solid var(--button-primary);
    color: var(--button-secondary);
  }
}

// default `a` tag css
a {
  text-decoration: none;
  color: var(--link-color);

  &.underline {
    text-decoration: underline;
  }

  &:hover {
    text-decoration: underline !important;
    color: var(--button-primary);
  }
}
